/*
    Linas Cijunskis Dodonova
    30 de Noviembre del 2022
*/

*{
    box-sizing: border-box;
    margin: 0px;
    border-radius: 25px;
}

*::selection{
    background: red;
}

#titulo2::before,#titulo2::after{
    content: "''";
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

#titulo2{
    color: white;
    text-transform: lowercase;
}

main{
    padding: 10px;
    background-image: linear-gradient(to bottom, #B01710, #331F1F);
}

article{
    margin-top: 50px;
    font-size: 1.5em;
    text-align: justify;
    column-count: 3;
    column-gap: 2em;
    column-rule: 3px solid brown;
}

p::first-letter{
    font-size: 3em;
    color: brown;
}

p::first-line{
    color: #CE6821;
}