/*
    27 de Septiembre de 2022
    Autor: Linas Cijunskis Dodonova
    Hoja de estilo CSS
*/
body{
    border: 5px solid rgb(2, 77, 24);
}

p{
    color:black;
    background-color: rgba(11, 168, 25, 0.7);
    margin: 1%;
    padding: 20px;
    border-radius: 25px;
}

pre{
    color:black;
    background-color: rgba(8, 116, 17, 0.7);
    margin: 1%;
    padding: 5px;
    border-radius: 50px;
}

div{
    color:black;
    background-color: rgba(11, 168, 25, 0.7);
    margin: 1%;
    padding: 5px;
    border-radius: 50px;
}

h1{
    color: rgba(8, 116, 17, 0.7);
    background-color: black;
    margin: 1%;
    padding: 2px;
    border-radius: 50px;
}