/*
    Autor: Linas Cijunskis Dodonova
    25 de octubre de 2022
*/

*{
     box-sizing: border-box;
}
h1{
     text-align: center;
}
section{
     width: 80%;
     margin: auto;
     border: dashed;
     padding: 10px;
}
ol ol {
     list-style-type: lower-roman;
}
.listaDesordenada{
     background-color:bisque;
}
.listaOrdenada{
     background-color:cornflowerblue;
}
.listaDefinicion{
     background-color: darkgreen;
}

ul li{
    list-style-type: lower-greek;
    /*background-image: url();*/    
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: -5px;
    padding: 20px 20px 20px 25px;
}

.monitor{
    background-image: url(./IMG/p7/msi\ monitor.jpg);
}

.placa{
     background-image: url(./IMG/p7/Placa\ base.jpeg);
}

.procesador{
     background-image: url(./IMG/p7/9400F2.jpg)
}

.disepador{
     background-image: url(./IMG/p7/cooler.jpg)
}

.tarjeta{
     background-image: url(./IMG/p7/rtx.jpg)
}

.ram{
     background-image: url(./IMG/p7/ram.jpg)
}

.m2{
    background-image: url(./IMG/p7/m.2.jpg); 
}

.hhd{
     background-image: url(./IMG/p7/hhd.jpg);
}

.ssd{
     background-image: url(./IMG/p7/ssd\ 256gb.jpg);
}

.fuente{
     background-image: url(./IMG/p7/fuente\ de\ alimentacion.jpg);
}