/*
    Linas CIjunskis Dodonova
    15 de Noviembre del 2022
*/

*{
    box-sizing: border-box;
    margin: 0px;
}

h1{
    text-align: center;
    font-style: italic;
}

table{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px black;
}

.col2{
    background-color: #51114C;
    color: white;
}

.Imagen img{
    width: 90%;
}

th{
    background-image: url(./Multimedia/IMG/Fondo\ Circuitos.jpg);
    color: white;
}


caption{
    padding-top: 20px;
    font-style: italic;
}

td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col{
    background-color: #261A5F;
    color: white;
}