/*
  Linas Cijunskis Dodonova
  22 De Noviembre De 2022
*/

*{
  margin: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

  /* Barra de categorias */
.navbar {
  overflow: hidden;
  background-color: #333;
  position:0; 
  top: 0; 
  width: 100%; 
}
  
  /* Enlances dentro de la barra */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
  
  /* Cambiar el color de la barra al poner el raton */
.navbar a:hover {
  background: #ddd;
  color: black;
}
  
  /* Contenido de Main */
.main {
  margin-top: 30px; /* Agregar un margen superior para evitar la superposición de contenido */
}

.top,footer{
  background-color: #000000;
  text-align: center;
  padding: 10px;
  color: #9A8866;
  border: 5px solid #423B2C
}

h2{
  border-bottom: 3px solid #9A8866;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  padding: 6px 0;
  color: white;
  margin-left: 80px;
  margin-right: 80px;
}

header{
  font-size: 20px;
}

body{
  background-image: url(./img/machine-kalash-battlestate-games-escape-from-tarkov-eft-hd-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "cabeza";
  background-attachment: fixed;
}

.texto1,.texto2,.texto3,.texto4,.texto6{
  background-color: #333333;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  color: #9A8866;
  opacity: 1;
}

.texto5{
  background-color: #333333;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  color: #9A8866;
}

ul{
  list-style-type: circle;
}

  /*LA TABLA*/

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

div.flotadorizq{
  float: left;
  clear: left;
}

div.flotadorder{
  float: right;
  clear: right;
  opacity: 1;
}

table.flotadorder{
    clear: right;
    float: right;
}

p{
    margin: 7px 0px;
}

/*Segunda tabla pero facil*/

.preciosmed{
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th{
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  border: 2px solid #9A8866;
  padding: 10px;
}

.precio{
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  border: 2px solid #9A8866;
  padding: 5px;
}

.audio{
  clear: right;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

/*apartado de textos*/
h1{
  font-size: large;
}

.verde{
  color: green;
}

.amarillo{
  color: yellow;
}

.rojo{
  color: red;
}

/*link para las paginas*/
a{
color: white;
}

/*fuente de letras*/
@font-face {
  font-family: "cabeza";
  src: url(./Texto/CrimsonText-Bold.ttf);
}

