/*
    Linas Cijunskis Dodonova
    02/12/2022
*/

*{
    margin: 0px;
    box-sizing: border-box;
}
  
/* Barra de categorias */
.navbar {
    overflow: hidden;
    background-color: #333;
    position:0; 
    top: 0; 
    width: 100%; 
}
  
/* Enlances dentro de la barra */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
  
/* Cambiar el color de la barra al poner el raton */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/*Fondo Nuevo De la pagina*/
body{
    background-image: url(./img/Gasolinera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "cabeza";
    background-attachment: fixed;
  }

  /*Cajitas de texto*/
  .texto1,.texto2{
    background-color: #333333;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    color: #9A8866;
    opacity: 0.8;
    margin-bottom: 80px;
  }

/*Formulario*/
/* Estilo el input y zona de escribir */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Estilo de los nombres para que tengan paddings  */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Estilo de comentar */
  input[type=Comentar] {
    background-color: #9A8866;
    color: #333333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Estilo de los containers */
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Limpiar las columnas vacias */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Cambiar el tamaño del navegador al movil */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=Comentar] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  /*fuente de letras*/
@font-face {
  font-family: "cabeza";
  src: url(./Texto/CrimsonText-Bold.ttf);
}