/*
    Autor: Linas Cijunskis Dodonova
    08 de Octubre de 2022
*/
nav{
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
}

img{
    width: 30%;
    border: 5px double black;
    margin: auto;
    display: block;
}

body{
    background-image: url("./IMG/Dark\ Souls.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 36, 36);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(221, 160, 79);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Cambiar el link #111 (black) en lo que sea */
  li a:hover {
    background-color: #111;
  }

  .actibe{
    background-color: #aa7004;;
  }

  h1{
    color: white;
    margin: 1%;
  }

  p{
    color:white;
    background-color: rgba(199, 126, 31, 0.7);
    margin: 1%;
    padding: 20px;
    border-radius: 25px;
}

div{
    color: white;
    background-color:  rgba(199, 126, 31, 0.7);
    margin: 1%;
}

h2{
    color: white;
    margin: 1%;
}