/*
  Autor: Linas Cijunskis Dodonova
  21 de Noviembre de 2022
*/

*{
  margin: 0px;
  box-sizing: border-box;
}

/* Barra de categorias */
.navbar {
  overflow: hidden;
  background-color: #333;
  position:0; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Enlances dentro de la barra */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

/* Cambiar el color de la barra al poner el raton */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Contenido de Main */
.main {
  margin-top: 30px; /* Añadir contenido por encima del overlay */
}

header,footer{
  background-color: #000000;
  text-align: center;
  padding: 20px;
  color: #9A8866;
  border: 5px solid #423B2C
}

header{
  font-size: 40px;
}

footer{
  font-size: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body{
  background-image: url(./img/Escape-from-Tarkov-Free-Download.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "cabeza";
}

.texto1{
  background-color: #333333;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  color: #9A8866;
}

.texto2{
  background-color: #333333;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  padding: 20px;
  justify-content: space-between;
  color: #9A8866;
}

/*Trailer bastante dicifil*/
main{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.trailer{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*Container de imagenes*/
.container .img_container{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.container .img_container .main_img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  object-fit: cover;
}
 .container .thumbnail_container{
  height: auto;
  display: flex;
  justify-content:space-evenly;
} 

.container .thumbnail_container .thumbnail{
  width: 400px;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  opacity: .7;
  transition: .3s;
}

.container .thumbnail_container .thumbnail:hover{
  opacity: 1;
}

.active{
  opacity: 1 !important;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

/*fuente de letras*/
@font-face {
  font-family: "cabeza";
  src: url(./Texto/CrimsonText-Bold.ttf);
}